.shadow {
  width: 100px;
  height: 1px;
  background: #000;
  box-shadow: 0 0 5px 5px #000;
  border-radius: 50%;
  position: absolute;
  top: 66.5%;
  right: 7%;
  opacity: 0.2;
  transform: scale(0.5);
  animation: sombra 1s alternate infinite ease-in;
}

@keyframes sombra{ 
  
    100%{
      transform: scale(1);
      opacity: .5
    }
  }


  @keyframes rebota{
    90%{
      height: 100px;
    }
    
    100%{
      transform: translateY(200px);
      height: 80px;
    }
  }